# Listas , Data Frame, Factor y Tablas

## Listas

In [1]:
x <- list(1:3, "a", c(TRUE, FALSE, TRUE), c(2.3, 5.9))
str(x)

List of 4
 $ : int [1:3] 1 2 3
 $ : chr "a"
 $ : logi [1:3] TRUE FALSE TRUE
 $ : num [1:2] 2.3 5.9

In [2]:
x <- list(list(list(list())))
str(x)
is.recursive(x)

List of 1
 $ :List of 1
  ..$ :List of 1
  .. ..$ : list()

[1] TRUE

In [3]:
x <- list(list(1, 2), c(3, 4))
y <- c(list(1, 2), c(3, 4))
str(x)

List of 2
 $ :List of 2
  ..$ : num 1
  ..$ : num 2
 $ : num [1:2] 3 4

In [4]:
str(y)

List of 4
 $ : num 1
 $ : num 2
 $ : num 3
 $ : num 4

In [6]:
is.list(mtcars)
mod <- lm(mpg ~ wt, data = mtcars)
is.list(mod)

[1] TRUE

[1] TRUE

## Data Frame

In [8]:
df <- data.frame(x = 1:3, y = c("Python", "R", "C"))
str(df)

'data.frame':	3 obs. of  2 variables:
 $ x: int  1 2 3
 $ y: Factor w/ 3 levels "C","Python","R": 2 3 1

In [9]:
df <- data.frame(
  x = 1:3,
  y = c("Python", "R", "C"),
  stringsAsFactors = FALSE)
str(df)

'data.frame':	3 obs. of  2 variables:
 $ x: int  1 2 3
 $ y: chr  "Python" "R" "C"

In [10]:
typeof(df)
class(df)
is.data.frame(df)

[1] "list"

[1] "data.frame"

[1] TRUE

In [11]:
cbind(df, data.frame(z = 3:1))
rbind(df, data.frame(x = 10, y = "z"))

  x      y z
1 1 Python 3
2 2      R 2
3 3      C 1

   x      y
1  1 Python
2  2      R
3  3      C
4 10      z

In [12]:
mala <- data.frame(cbind(a = 1:2, b = c("a", "b")))
str(mala)
good <- data.frame(a = 1:2, b = c("a", "b"),
  stringsAsFactors = FALSE)
str(good)

'data.frame':	2 obs. of  2 variables:
 $ a: Factor w/ 2 levels "1","2": 1 2
 $ b: Factor w/ 2 levels "a","b": 1 2
'data.frame':	2 obs. of  2 variables:
 $ a: int  1 2
 $ b: chr  "a" "b"

In [13]:
df <- data.frame(x = 1:3)
df$y <- list(1:2, 1:3, 1:4)
df

  x          y
1 1       1, 2
2 2    1, 2, 3
3 3 1, 2, 3, 4

In [14]:
data.frame(x = 1:3, y = list(1:2, 1:3, 1:4))

ERROR: Error in data.frame(1:2, 1:3, 1:4, check.names = FALSE, stringsAsFactors = TRUE): arguments imply differing number of rows: 2, 3, 4

In [16]:
dfl <- data.frame(x = 1:3, y = I(list(1:2, 1:3, 1:4)))
str(dfl)
dfl[2, "y"]

'data.frame':	3 obs. of  2 variables:
 $ x: int  1 2 3
 $ y:List of 3
  ..$ : int  1 2
  ..$ : int  1 2 3
  ..$ : int  1 2 3 4
  ..- attr(*, "class")= chr "AsIs"

[[1]]
[1] 1 2 3

In [17]:
dfm <- data.frame(x = 1:3, y = I(matrix(1:9, nrow = 3)))
str(dfm)
dfm[2, "y"]

'data.frame':	3 obs. of  2 variables:
 $ x: int  1 2 3
 $ y: 'AsIs' int [1:3, 1:3] 1 2 3 4 5 6 7 8 9

     [,1] [,2] [,3]
[1,]    2    5    8

In [21]:
df <- data.frame(x = 1:3, y = 3:1, z = letters[1:3])

df[df$x == 2, ]
df[c("x", "z")]
df[, c("x", "z")]
str(df["x"])
str(df[, "x"])

  x y z
2 2 2 b

  x z
1 1 a
2 2 b
3 3 c

  x z
1 1 a
2 2 b
3 3 c

'data.frame':	3 obs. of  1 variable:
 $ x: int  1 2 3
 int [1:3] 1 2 3

In [22]:
df <- data.frame(a = 1:2, b = 1:2)
str(df[1])
str(df[[1]])
str(df[, "a", drop = FALSE])
str(df[, "a"])

'data.frame':	2 obs. of  1 variable:
 $ a: int  1 2
 int [1:2] 1 2
'data.frame':	2 obs. of  1 variable:
 $ a: int  1 2
 int [1:2] 1 2

In [23]:
df1 <- data.frame(a = c(1, 10, NA))
df1$a[df1$a < 5] <- 0
df1$a

[1]  0 10 NA

In [27]:
help(match)
grados <- c(1, 2, 2, 3, 1)

info <- data.frame(
  grados = 3:1,
  desc = c("Excelente", "Bueno", "Pobre"),
  f = c(F, F, T)
)
grados
id <- match(grados, info$grados)
info[id, ]
rownames(info) <- info$grados
info[as.character(grados), ]

match                   package:base                   R Documentation

_V_a_l_u_e _M_a_t_c_h_i_n_g

_D_e_s_c_r_i_p_t_i_o_n:

     ‘match’ returns a vector of the positions of (first) matches of
     its first argument in its second.

     ‘%in%’ is a more intuitive interface as a binary operator, which
     returns a logical vector indicating if there is a match or not for
     its left operand.

_U_s_a_g_e:

     match(x, table, nomatch = NA_integer_, incomparables = NULL)

     x %in% table

_A_r_g_u_m_e_n_t_s:

       x: vector or ‘NULL’: the values to be matched.  Long vectors are
          supported.

   table: vector or ‘NULL’: the values to be matched against.  Long
          vectors are not supported.

 nomatch: the value to be returned in the case when no match is found.
          Note that it is coerced to ‘integer’.

incomparables: a vector of values that cannot be matched.  Any value in
          ‘x’ matching a value in this vector is assigned the ‘nomatch’
          value.  For historical reasons, ‘FALSE’ is equivalent to
          ‘NULL’.

_D_e_t_a_i_l_s:

     ‘%in%’ is currently defined as
     ‘"%in%" <- function(x, table) match(x, table, nomatch = 0) > 0’

     Factors, raw vectors and lists are converted to character vectors,
     and then ‘x’ and ‘table’ are coerced to a common type (the later
     of the two types in R's ordering, logical < integer < numeric <
     complex < character) before matching.  If ‘incomparables’ has
     positive length it is coerced to the common type.

     Matching for lists is potentially very slow and best avoided
     except in simple cases.

     Exactly what matches what is to some extent a matter of
     definition.  For all types, ‘NA’ matches ‘NA’ and no other value.
     For real and complex values, ‘NaN’ values are regarded as matching
     any other ‘NaN’ value, but not matching ‘NA’.

     That ‘%in%’ never returns ‘NA’ makes it particularly useful in
     ‘if’ conditions.

     Character strings will be compared as byte sequences if any input
     is marked as ‘"bytes"’ (see ‘Encoding’).

_V_a_l_u_e:

     A vector of the same length as ‘x’.

     ‘match’: An integer vector giving the position in ‘table’ of the
     first match if there is a match, otherwise ‘nomatch’.

     If ‘x[i]’ is found to equal ‘table[j]’ then the value returned in
     the ‘i’-th position of the return value is ‘j’, for the smallest
     possible ‘j’.  If no match is found, the value is ‘nomatch’.

     ‘%in%’: A logical vector, indicating if a match was located for
     each element of ‘x’: thus the values are ‘TRUE’ or ‘FALSE’ and
     never ‘NA’.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     ‘pmatch’ and ‘charmatch’ for (_partial_) string matching,
     ‘match.arg’, etc for function argument matching.  ‘findInterval’
     similarly returns a vector of positions, but finds numbers within
     intervals, rather than exact matches.

     ‘is.element’ for an S-compatible equivalent of ‘%in%’.

_E_x_a_m_p_l_e_s:

     ## The intersection of two sets can be defined via match():
     ## Simple version:
     ## intersect <- function(x, y) y[match(x, y, nomatch = 0)]
     intersect # the R function in base is slightly more careful
     intersect(1:10, 7:20)

     1:10 %in% c(1,3,5,9)
     sstr <- c("c","ab","B","bba","c",NA,"@","bla","a","Ba","%")
     sstr[sstr %in% c(letters, LETTERS)]

     "%w/o%" <- function(x, y) x[!x %in% y] #--  x without y
     (1:10) %w/o% c(3,7,12)
     ## Note that setdiff() is very similar and typically makes more sense:
             c(1:6,7:2) %w/o% c(3,7,12)  # -> keeps duplicates
     setdiff(c(1:6,7:2),        c(3,7,12)) # -> unique values

[1] 1 2 2 3 1

    grados      desc     f
3        1     Pobre  TRUE
2        2     Bueno FALSE
2.1      2     Bueno FALSE
1        3 Excelente FALSE
3.1      1     Pobre  TRUE

    grados      desc     f
1        1     Pobre  TRUE
2        2     Bueno FALSE
2.1      2     Bueno FALSE
3        3 Excelente FALSE
1.1      1     Pobre  TRUE

In [28]:
dfr <- data.frame(x = rep(1:3, each = 2), y = 6:1, z = letters[1:6])
set.seed(10)
dfr[sample(nrow(dfr)), ]
dfr[sample(nrow(dfr), 3), ]
dfr[sample(nrow(dfr), 6, rep = T), ]

  x y z
4 2 3 d
2 1 5 b
5 3 2 e
3 2 4 c
1 1 6 a
6 3 1 f

  x y z
2 1 5 b
6 3 1 f
3 2 4 c

    x y z
3   2 4 c
4   2 3 d
4.1 2 3 d
1   1 6 a
4.2 2 3 d
3.1 2 4 c

## Factors

In [7]:
x <- factor(c("Mili", "Cesar", "Cesar", "Mili"))
x
class(x)
levels(x)
x[2] <- "Python"
x

c(factor("Mili"), factor("Cesar"))

[1] Mili  Cesar Cesar Mili
Levels: Cesar Mili

[1] "factor"

[1] "Cesar" "Mili"

Warning message:
In `[<-.factor`(`*tmp*`, 2, value = "Python"): invalid factor level, NA generated

[1] Mili  <NA>  Cesar Mili
Levels: Cesar Mili

[1] 1 1